<!-- Avoid adding more head as well as html sections... they are already present -->
<!-- Reason, to avoid writing unnecessary code. -->
<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
          ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card">
          <img src="http://placehold.it/300x300" alt="user" class="profile-photo" />
        </div>
        <div class="profile-detail">
          <h5 class="text-white"> M Omair khalid </h5>
          <h5 class="text-white">Instructor</h5>
          <h5 class="text-white">Computer Science </h5>

        </div>
        <!--profile card ends-->
        <ul class="nav-news-feed">

          <li>
            <label for="year" class="sr-only"></label>
            <select class="form-control2" id="year">

              <option value="Dicipline" disabled selected>Select Catagory</option>
              <option>All</option>
              <option>Computer Science</option>
              <option>Chemistry</option>
              <option>Physics</option>
              <option>Hr</option>
              <option>Urdu</option>
              <option>Engineering</option>
              <option>Biology</option>
              <option>Maths</option>
              <option>Pharmacy</option>
              <option>Zeology</option>
              <option>Bio Technology</option>
              <option>Journalism</option>
              <option>Other</option>
            </select>

          </li>
        </ul>
        <!--news-feed links ends-->

      </div>

      <div class="col-md-7" ng-app="newsFeedModule" ng-controller="newsFeedCtrl as newsfeed">

        <!-- Post Create Box
            ================================================= -->
        <form ng-submit="newsfeed.submitPost()">
          <div class="create-post">
            <div class="row">
              <div class="col-md-7 col-sm-7">
                <div class="form-group">
                  <img src="http://placehold.it/300x300" alt="" class="profile-photo-md" />
                  <textarea required ng-model="newsfeed.newPost.content" name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control"
                    placeholder="Write Your Post Here !"></textarea>
                </div>
              </div>
              <div class="col-md-5 col-sm-5">
                <div class="tools">
                  <ul class="publishing-tools list-inline">

                    <li>
                      <a href="#">
                        <i class="ion-compose"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="ion-images"></i>
                      </a>
                    </li> &nbsp;
                    <button class="btn btn-primary pull-right">Submit</button>
                  </ul>

                </div>

              </div>

            </div>
            <div class="option">
              <select class="form-control3 tag-style" ng-model="newsfeed.newPost.tag">

                <option value="Dicipline" disabled selected>Tag</option>
                <option>All</option>
                <option>Computer Science</option>
                <option>Chemistry</option>
                <option>Physics</option>
                <option>Hr</option>
                <option>Urdu</option>
                <option>Engineering</option>
                <option>Biology</option>
                <option>Maths</option>
                <option>Pharmacy</option>
                <option>Zeology</option>
                <option>Bio Technology</option>
                <option>Journalism</option>
                <option>Other</option>
              </select>
            </div>
          </div>
          <!-- Post Create Box End-->
        </form>

        <div class="post-content" ng-repeat="post in newsfeed.feed">

          <div class="post-container">
            <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5>
                  <a href="timeline.html" class="profile-link">{{post.user_details[0].username ? post.user_details[0].username : post.user_email}}</a>
                  <span class="following"> {{post.tag}}</span>
                </h5>
<span class="pull-right" ng-if="newsfeed.current_user == post.user_email">
                  <button class="btn btn-danger" ng-click="newsfeed.deletePost(post._id,$index)"><i class="fa fa-trash"></i></button>
                </span>
<p class="text-muted">Published an update about {{newsfeed.moment(post.posted_on).fromNow()}}</p>
              </div>

              <div class="line-divider"></div>
              <div class="post-text">
                <p>
                  <i class="em em-thumbsup"></i>
                  <i class="em em-thumbsup"></i> {{post.content}}</p>
              </div>
              <div class="line-divider"></div>
              <div >
                <div class="post-comment" ng-repeat="comment in newsfeed.comments_data.get(post._id)">
                  <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
                  <p>
                    <a href="timeline.html" class="profile-link">{{comment.user_email}} </a> {{comment.content}} 
                    <i>{{newsfeed.moment(comment.posted_on).fromNow()}}</i>
                    <i class="em em-muscle"></i>
                    <a ng-if="newsfeed.current_user == comment.user_email" class="btn btn-danger" ng-click="newsfeed.deleteComment(comment._id,comment.feed_id,$index)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </p>
                </div>
              </div>
              <br>
              <div class="reaction">
                <a class="btn text-green">
                  <i class="icon ion-thumbsup"></i> 23</a>
                <a class="btn text-red">
                  <i class="fa fa-thumbs-down"></i> 4</a>
                <button id="toggleMessage" class="btn-show-hide" ng-click="newsfeed.getComments(post._id)"> {{toggle ? 'Hide Comments' : 'Show Comments'}} </button>
              </div>
              <br>
              <div class="post-comment">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
                <input type="text" class="form-control" placeholder="Post a comment" ng-model="newsfeed.comment_new">
                <button type="submit" ng-click="newsfeed.addComment(post._id)" class="button-sub"> Submit </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Newsfeed Common Side Bar Right
          ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">



        </div>
      </div>
    </div>
  </div>
</div>